{[:any-number] 9,
 [:expression] 16,
 [:file] 2,
 [:nz-number] 9,
 [:any-digit :alt 0] 0,
 [:any-digit :alt 1] 0,
 [:any-number :alt 0] 0,
 [:any-number :alt 1] 9,
 [:expression :alt 0] 0,
 [:expression :alt 1] 6,
 [:expression :alt 2] 1,
 [:expression :alt 3] 0,
 [:expression :alt 4] 0,
 [:expression :alt 5] 0,
 [:expression :alt 6] 9,
 [:file :cat 0] 9,
 [:file :cat 1] 2,
 [:nz-digit :alt 0] 0,
 [:nz-digit :alt 1] 0,
 [:nz-digit :alt 2] 0,
 [:nz-digit :alt 3] 0,
 [:nz-digit :alt 4] 0,
 [:nz-digit :alt 5] 0,
 [:nz-digit :alt 6] 0,
 [:nz-digit :alt 7] 0,
 [:nz-digit :alt 8] 0,
 [:nz-number :alt 0] 1,
 [:nz-number :alt 1] 9,
 [:nz-number :alt 2] 0,
 [:nz-number :alt 3] 0,
 [:expression :alt 1 :cat 1] 6,
 [:expression :alt 1 :cat 2] 6,
 [:expression :alt 2 :cat 1] 1,
 [:expression :alt 2 :cat 2] 1}
